body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #ffffff;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1f1f1f;
  box-shadow: 0 0.19svh 0.37svh rgba(0, 0, 0, 0.3); 
  z-index: 1500;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(1rem, 2vh, 2rem) 1.7vw;
}

.left-icons {
  display: flex;
  gap: 1vw;
}

.left-icons img {
  width: clamp(1.5rem, 4vw, 2rem);
  height: clamp(1.5rem, 4vw, 2rem);
  aspect-ratio: 1 / 1;
  cursor: pointer;
  border: none;
  object-fit: contain;
  transition: transform 0.2s;
}

.left-icons img:hover {
  transform: scale(1.2);
}

.home-button {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: clamp(1.2rem, 2.5vw, 1.7rem);
  transition: color 0.3s;
  cursor: pointer;
}

.home-button:hover {
  color: #bb86fc;
}

.center-home {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.button {
  list-style: none;
  display: flex;
  gap: 1.5vw;
  margin: 0;
}

.button a {
  font-size: clamp(0.6rem, 2vw, 1.2rem);
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s;
}

.button a[href="about.html"]:hover,
.button a[href="experience.html"]:hover,
.button a[href="projects.html"]:hover {
  color: #bb86fc;
}

main {
  padding: clamp(4rem, 9vh, 6rem) 2vw clamp(2rem, 3vh, 4rem) 2vw;
  max-width: 70vw;
  margin: 0 auto;
}

section {
  margin-bottom: clamp(3rem, 6vh, 5rem);
}

h1 {
  font-size: clamp(2.5rem, 6vw, 3rem);
  margin-bottom: clamp(1rem, 2vh, 2rem);
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-bottom: clamp(1rem, 2vh, 2rem);
  color: #ffffff;
}

h3 {
  font-size: clamp(1.15rem, 4vw, 1.4rem);
  margin-bottom: clamp(1rem, 2vh, 2rem);
  color: #ffffff;
}

h4 {
  font-size: clamp(1.325rem, 4vw, 1.7rem);
  margin-bottom: clamp(1rem, 2vh, 2rem);
  margin-top: clamp(0.5rem, 1.5vh, 2rem);
  color: #ffffff;
}

p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  line-height: 1.6;
  color: #ffffff;
}

.vertical-line {
  border-left: 2px solid #ffffff;
  padding-left: 16px;
}

.project {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: clamp(10rem, 30vw, 15rem);
  height: clamp(10rem, 30vw, 15rem);
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
