body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #ffffff;
  scroll-behavior: smooth;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #1f1f1f;
  box-shadow: 0 0.19svh 0.37svh rgba(0, 0, 0, 0.3); 
  z-index: 1500;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2svh 1.7vw; 
}

.left-icons {
  display: flex;
  gap: 1vw; 
}

.left-icons img {
  width: 4svh;            
  height: 4svh;           
  aspect-ratio: 1 / 1;      
  cursor: pointer;
  border: none;
  object-fit: contain;      
  transition: transform 0.2s;
}

.left-icons img:hover {
  transform: scale(1.2);
}

.home-button {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: clamp(1.2rem, 2.5vw, 2rem);
  transition: color 0.3s;
  cursor: pointer;
}

.home-button:hover {
  color: #bb86fc;
}

.center-home {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.button {
  list-style: none;
  display: flex;
  gap: 1.5vw; 
  margin: 0;
}

.button a {
  font-size: clamp(1rem, 2vw, 1.6rem);
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  transition: color 0.3s;
}

.button a[href="about.html"]:hover,
.button a[href="experience.html"]:hover,
.button a[href="projects.html"]:hover {
  color: #bb86fc;
}

main {
  padding: 9svh 2vw 3svh 2vw; 
  max-width: 70vw; 
  margin: 0 auto;
}

section {
  margin-bottom: 6svh; 
}

h1 {
  font-size: clamp(2.5rem, 6vw, 3.5rem); 
  margin-bottom: 1.5svh; 
  color: #ffffff;
  text-align: center;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 2rem); 
  margin-bottom: 1.5svh; 
  color: #ffffff;
  margin: 0;
}

p {
  font-size: clamp(1rem, 2.5vw, 1.2rem); 
  line-height: 1.6;
  color: #ffffff;
}

.vertical-line {
  border-left: 2px solid #ffffff;  
  padding-left: 16px;
}

.project {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 30svh; 
  height: 30svh; 
  border-radius: 50%;
  object-fit: cover; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1200px) {

  .left-icons img {
    width: 3.2svh;            
    height: 3.2svh;
  }

  .home-button {
    font-size: clamp(1rem, 2vw, 1.5rem); 
  }

  .button a {
    font-size: clamp(0.9rem, 1.5vw, 1.2rem); 
  }

}
